{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Email Sent{% endblock title %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8 col-sm-10" style="border: 1px solid rgba(0, 0, 0, 0.8); border-radius: 7px; margin-bottom: 18px;">
        <div class="mt-2" >
          <div class="card-body" style="background-color: rgb(168, 167, 167);">
            <div class="text-center">
                <h2>Check your inbox</h2>

            </div>
            <p>We've emailed you instructions for setting your password. You should receive the email shortly provided you used the correct email associated with the account!</p>
            
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}