{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Forgot Your Password? {% endblock title %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8 col-sm-10" style="border: 1px solid rgba(0, 0, 0, 0.8); border-radius: 7px; margin-bottom: 18px;">
        <div class="mt-2" >
          <div class="card-body" style="background-color: rgb(168, 167, 167);">
            <div class="text-center">
                <h2>Forgot your password?</h2>
                
            </div>
            <p>Enter your account email address below and you'll receive instructions for setting a new one.</p>
            <form method="POST">
                {%csrf_token%}
                {{form|crispy}}
                <div class="text-center" style="margin-bottom: 18px;">
                    <input class="btn btn-success" type="submit" value="Send me instructions!"> 
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}